<!DOCTYPE html>
<html data-bs-theme="light" lang="es-PE">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/assets/img/favicon-32x32.png" type="image/png">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://unpkg.com/htmx.org@2.0.1" integrity="sha384-QWGpdj554B4ETpJJC9z+ZHJcA/i59TyjxEPXiiUgN2WmTyV5OEZWCD6gQhgkdpB/" crossorigin="anonymous"></script>
    <script>
        function show_message(message,type){
            const toastElement = document.getElementById("toast");
            const toastBody = document.getElementById("toast-body");
    
            const toast = new bootstrap.Toast(toastElement, { delay: 2000 });
            
            toastElement.classList.add(`bg-${type}`);
            if ((type == 'success') || (type == 'danger')){
                toastElement.classList.add('text-white');
            }
            toastBody.innerText = message;
            toast.show();
        }
        function handle_form_error(errors){
            Array.from(errors).forEach(e => {
                const field = document.querySelector(`[name="${e[0]}"]`);
                field.setCustomValidity(e[1]);
                field.onfocus = () => field.reportValidity();
                field.onchange = () => field.setCustomValidity('');
                field.reportValidity();
            });
        }
        htmx.on("showMessage", e=> {
            show_message(e.detail['text'],e.detail['type'])
        });
        document.addEventListener("htmx:responseError",e=>{
            if (e.detail.xhr.status==422){
                handle_form_error(JSON.parse(e.detail.xhr.response))
                console.log(e.detail.xhr.response)
            }else{
                show_message(e.detail.xhr.response,"danger");
            }
        });
        document.addEventListener("htmx:confirm",e => {
            const swalPUCP = Swal.mixin({
                customClass: {
                    confirmButton: "btn btn-success",
                    cancelButton: "btn btn-danger"
                }
            });
            // The event is triggered on every trigger for a request, so we need to check if the element
            // that triggered the request has a confirm question set via the hx-confirm attribute,
            // if not we can return early and let the default behavior happen
            if (!e.detail.question) return
    
            // This will prevent the request from being issued to later manually issue it
            e.preventDefault()
    
            swalPUCP.fire({
                title: "Continuar?",
                text: e.detail.question,
                showCancelButton: true,
                confirmButtonText: "Aceptar",
                cancelButtonText: "Cancelar"
            }).then(result => {
                if (result.isConfirmed) {
                    // If the user confirms, we manually issue the request
                    e.detail.issueRequest(true); // true to skip the built-in window.confirm()
                }
            })
        });
    </script>
    <link href="/assets/css/diad-bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Roboto:wght@300;400;500&display=swap">
    <meta name="theme-color" content="#042354">
    {% block head %}
    {% endblock %}
    <style>
    </style>
    <title>Entrevistas - Becas Lucet{{ title }}</title>
</head>

<body class="bg-body-tertiary">
    <nav class="navbar navbar-expand-md navbar-dark bg-primary" hx-boost="true">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Lucet</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            {% if user %}
            <div class="collapse navbar-collapse justify-content-between" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Instrucciones</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/por-calificar">Listado de entrevistas</a>
                    </li>
                    {% if user.perfil == 'Administrador' %}
                    <li class="nav-item">
                        <a class="nav-link" href="/usuarios">Usuarios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/evaluados">Evaluados</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/fichas">Fichas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/criterios">Criterios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/reporte-estado">Estado</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/reporte-resultados">Resultados</a>
                    </li>
                    {% endif %}
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/logout"><i class="bi-box-arrow-right"></i> Salir</a>
                    </li>
                </ul>
            </div>
            {% endif %}
        </div>
      </nav>
    <div id="toast-container" hx-preserve="true" class="toast-container position-fixed top-0 start-50 translate-middle-x p-3">
        <div id="toast" class="toast align-items-center" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="d-flex">
                <div id="toast-body" class="toast-body">
                </div>
                <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
        </div>
    </div>
    <main class="container-fluid gx-0 gx-sm-5">
        <div class="bg-body p-3 my-2 rounded shadow">
            {% block content %}
            {% endblock %}
        </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    {% block scripts %}
    {% endblock %}
</body>
</html>
