{% extends "base.tpl.html" %}
{% block content %}
{% set evaluado = ficha.evaluado %}
<div class="row flex-row justify-content-center">
    <div class="col-12 col-md-8">
        <div class="row">
            <div class="col">
                <strong>N° Documento:</strong>
                {{evaluado.documento_identidad}}
            </div>
        </div>
        <div class="row">
            <div class="col">
                <strong>Nombres:</strong>
                {{evaluado.nombres}}
            </div>
        </div>
        <div class="row">
            <div class="col">
                <strong>Apellido paterno:</strong>
                {{evaluado.apellido_paterno}}
            </div>
        </div>
        <div class="row">
            <div class="col">
                <strong>Apellido materno:</strong>
                {{evaluado.apellido_materno}}
            </div>
        </div>
        <hr>
        <form id="calificar-ficha" 
            hx-patch="/ficha/{{ficha.id}}/calificar"
            hx-target="body"
        >
            {% for i in ["1","1_1","1_2","1_3","comentario1","2","2_1","comentario2","3","3_1","3_2","3_3","comentario3","4","4_1","4_2","4_3","4_4","comentario4","5","5_1","5_2","comentario5","6","6_1","6_2","6_3","comentario6"] %}
            {% if i.startswith("comentario")%}
            <div class="row mb-3">
                <div class="col">
                    <textarea id="{{i}}" class="form-control" name="{{i}}" rows="3">{% if ficha[i] %}{{ficha[i]}}{% endif %}</textarea>
                </div>
            </div>
            {% else %}
            {% set c = 'criterio' + (i|string()) %}
            {% if "_" in c %}
            <div class="row mb-3 align-items-center">
                <div class="col-10">
                    <span class="w-100 d-inline-block text-end">{{crit[c]}}</span>
                </div>
                <div class="col-2">
                    <div class="form-check form-check-inline">
                        <input type="radio" class="form-check-input" name="{{c}}" value="yes" id="{{c}}-{{yes}}" {% if ficha[c] == True %}checked{% endif %}>
                        <label class="form-check-label" for="{{c}}-{{yes}}">SI</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input type="radio" class="form-check-input" name="{{c}}" value="no" id="{{c}}-{{no}}" {% if ficha[c] == False %}checked{% endif %}>
                        <label class="form-check-label" for="{{c}}-{{no}}">NO</label>
                    </div>
                </div>
            </div>
            {% else %}
            <div class="row mb-3">
                <div class="col-12">
                    <strong class="w-100 mb-3 d-inline-block">{{crit[c]}}</strong>
                </div>
            </div>
            {% endif %}
            {% endif %}
            {% endfor %}
            <div class="container d-flex justify-content-start">
                <button id="guardar" class="my-1 btn btn-primary" form="calificar-ficha">Guardar</button>
            </div>
        </form>
    </div>

</div>
{% endblock %}
