{% extends "base.tpl.html" %}
{% block content %}
<form id="ficha" 
    {% if not ficha %}
    hx-post="/ficha/nueva"
    {% else %}
    hx-patch="/ficha/{{ficha.id}}"
    {% endif %}
    hx-target="this"
    hx-swap="outerHTML"
    hx-select="#ficha"
>
    <div class="row mb-3">
        <div class="col-md-6">
            <label for="id" class="form-label">Identificador:</label>
            <input id="id" class="form-control" type="text" name="id" value="{% if ficha %}{{ficha.id}}{% endif %}" required {% if ficha %}readonly{% endif %}>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-6">
            <label for="evaluado_id" class="form-label">Evaluado:</label>
            <select id="evaluado_id" class="form-select" name="evaluado_id" required>
                <option value="">- Seleccionar un evaluado -</option>
                {% for evaluado in evaluados %}
                <option value="{{evaluado.id}}" {% if ficha and (ficha.evaluado_id == evaluado.id) %}selected{% endif %}>{{evaluado.apellido_paterno}} {{evaluado.apellido_materno}}, {{evaluado.nombres}}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-6">
            <label for="calificador_id" class="form-label">Calificador:</label>
            <select id="calificador_id" class="form-select" name="calificador_id" required>
                <option value="">- Seleccionar un calificador -</option>
                {% for calificador in usuarios %}
                <option value="{{calificador.id}}" {% if ficha and (ficha.calificador_id == calificador.id) %}selected{% endif %}>{{calificador.nombres}} {{calificador.apellido_paterno}} {{calificador.apellido_materno}}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-6">
            <label for="fecha_entrevista" class="form-label">Fecha de entrevista:</label>
            <input id="fecha_entrevista" class="form-control" type="datetime-local" name="fecha_entrevista" value="{% if ficha %}{{ficha.fecha_entrevista}}{% endif %}" required>
        </div>
    </div>
    {% for i in range(1,5) %}
    {% set c = 'criterio' + (i|string()) %}
    <div class="row mb-3">
        <div class="col-md-6">
            <span class="form-label" id="label-{{c}}">{{c}}:&nbsp;&nbsp;&nbsp;&nbsp;</span>
            {% for j in range(1,5) %}
            <div class="form-check form-check-inline">
                <input type="radio" class="form-check-input" name="{{c}}" value="{{j}}" id="{{c}}-{{j}}" {% if ficha[c] == j %}checked{% endif %}>
                <label class="form-check-label" for="{{c}}-{{j}}">{{j}}</label>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
    <div class="row mb-3">
        <div class="col-md-6">
            <label for="comentario" class="form-label">Observaciones:</label>
            <textarea id="comentario" class="form-control" name="comentario" rows="3">{% if ficha and ficha.comentario %}{{ficha.comentario}}{% endif %}</textarea>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-6">
            <label for="fecha_calificacion" class="form-label">Fecha de calificacion:</label>
            <input id="fecha_calificacion" class="form-control" type="datetime-local" name="fecha_calificacion" value="{% if ficha and ficha.fecha_calificacion %}{{ficha.fecha_calificacion.isoformat(timespec='seconds')}}{% endif %}">
        </div>
    </div>
    <div class="container d-flex justify-content-center">
        {% if not ficha %}
        <button id="crear" class="my-4 btn btn-primary" form="ficha">Crear</button>
        {% else %}
        <button id="guardar" class="m-4 btn btn-primary" form="ficha">Guardar</button>
        <button id="eliminar" hx-delete="/ficha/{{ficha.id}}?redirect=true" hx-target="body" hx-swap="outerHTML" class="my-4 btn btn-danger" hx-confirm="Seguro que desea eliminar este registro?, esta acción no se puede deshacer">Eliminar</button>
        {% endif %}
    </div>
</form>
{% endblock %}