{% extends "base.tpl.html" %}
{% block content %}
<form id="ficha" 
    {% if not ficha %}
    hx-post="/ficha/nueva"
    {% else %}
    hx-patch="/ficha/{{ficha.id}}"
    {% endif %}
    hx-target="this"
    hx-swap="outerHTML"
    hx-select="#ficha"
>
    <div class="row mb-3">
        <div class="col-md-6">
            <label for="id" class="form-label">Identificador:</label>
            <input id="id" class="form-control" type="text" name="id" value="{% if ficha %}{{ficha.id}}{% endif %}" required {% if ficha %}readonly{% endif %}>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-6">
            <label for="evaluado_id" class="form-label">Evaluado:</label>
            <select id="evaluado_id" class="form-select" name="evaluado_id" required>
                <option value="">- Seleccionar un evaluado -</option>
                {% for evaluado in evaluados %}
                <option value="{{evaluado.id}}" {% if ficha and (ficha.evaluado_id == evaluado.id) %}selected{% endif %}>{{evaluado.apellido_paterno}} {{evaluado.apellido_materno}}, {{evaluado.nombres}}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-6">
            <label for="calificador_id" class="form-label">Calificador:</label>
            <select id="calificador_id" class="form-select" name="calificador_id" required>
                <option value="">- Seleccionar un calificador -</option>
                {% for calificador in usuarios %}
                <option value="{{calificador.id}}" {% if ficha and (ficha.calificador_id == calificador.id) %}selected{% endif %}>{{calificador.nombres}} {{calificador.apellido_paterno}} {{calificador.apellido_materno}}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-6">
            <label for="fecha_entrevista" class="form-label">Fecha de entrevista:</label>
            <input id="fecha_entrevista" class="form-control" type="datetime-local" name="fecha_entrevista" value="{% if ficha %}{{ficha.fecha_entrevista}}{% endif %}" required>
        </div>
    </div>
    {% for i in ["1_1","1_2","1_3","comentario1","2_1","comentario2","3_1","3_2","3_3","comentario3","4_1","4_2","4_3","4_4","comentario4","5_1","5_2","comentario5","6_1","6_2","6_3","comentario6"] %}
    {% if i.startswith("comentario")%}
    <div class="row mb-3">
        <div class="col-6">
        <span>Observaciones:</span>
        <textarea id="{{i}}" class="form-control" name="{{i}}" rows="3">{% if ficha[i] %}{{ficha[i]}}{% endif %}</textarea>
        </div>
    </div>
    {% else %}
    {% set c = 'criterio' + (i|string()) %}
    <div class="d-flex j mb-3">
        <div>
            <span class="w-100 mb-3 d-inline-block">{{c}}:</span>
        </div>
        <div class="container">
            <div class="form-check form-check-inline">
                <input type="radio" class="form-check-input" name="{{c}}" value="yes" id="{{c}}-yes" {% if ficha[c] == True %}checked{% endif %}>
                <label class="form-check-label" for="{{c}}-yes">SI</label>
            </div>
            <div class="form-check form-check-inline">
                <input type="radio" class="form-check-input" name="{{c}}" value="no" id="{{c}}-no" {% if ficha[c] == False %}checked{% endif %}>
                <label class="form-check-label" for="{{c}}-no">NO</label>
            </div>
        </div>
    </div>
    {% endif %}
    {% endfor %}
    <div class="row mb-3">
        <div class="col-md-6">
            <label for="fecha_calificacion" class="form-label">Fecha de calificacion:</label>
            <input id="fecha_calificacion" class="form-control" type="datetime-local" name="fecha_calificacion" value="{% if ficha and ficha.fecha_calificacion %}{{ficha.fecha_calificacion.isoformat(timespec='seconds')}}{% endif %}">
        </div>
    </div>
    <div class="container d-flex justify-content-center">
        {% if not ficha %}
        <button id="crear" class="my-4 btn btn-primary" form="ficha">Crear</button>
        {% else %}
        <button id="guardar" class="m-4 btn btn-primary" form="ficha">Guardar</button>
        <button id="eliminar" hx-delete="/ficha/{{ficha.id}}?redirect=true" hx-target="body" hx-swap="outerHTML" class="my-4 btn btn-danger" hx-confirm="Seguro que desea eliminar este registro?, esta acción no se puede deshacer">Eliminar</button>
        {% endif %}
    </div>
</form>
{% endblock %}
