{% extends "base.tpl.html" %}
{% block content %}
<div class="table-responsive">
    <table class="table" hx-boost="true">
        <thead>
            <tr>
                <th>Número</th>
                <th>Apellido paterno</th>
                <th>Apellido materno</th>
                <th>Nombres</th>
                <th>Entrevista</th>
            </tr>
        </thead>
        <tbody>
            {% for ficha in fichas %}
            {% set evaluado = ficha.evaluado%}
            <tr class="align-middle">
                <td>{{loop.index}}</td>
                <td>{{evaluado.apellido_paterno}}</td>
                <td>{{evaluado.apellido_materno}}</td>
                <td>{{evaluado.nombres}}</td>
                <td><a class="btn btn-sm btn-primary" href="/ficha/{{ficha.id}}/calificar">Entrevista</a></td>
            </tr>
            {% else %}
            <tr><td colspan="6" class="text-center"> No hay nada por calificar</td></tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
