{% extends "base.tpl.html" %}
{% block content %}
<div>
<a class="btn btn-primary" href="/evaluado/nuevo">Nuevo evaluado</a>
</div>
<div class="table-responsive">
    <table class="table" hx-boost="true">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Carrera</th>
                <th>Edad</th>
                <th>Colegio</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for evaluado in evaluados %}
            <tr class="align-middle">
                <td>{{evaluado.id}}</td>
                <td>{{evaluado.apellido_paterno}} {{evaluado.apellido_materno}}, {{evaluado.nombres}}</td>
                <td>{{evaluado.carrera}}</td>
                <td>{{evaluado.edad}}</td>
                <td>{{evaluado.colegio}}</td>
                <td><a class="btn btn-sm btn-primary" href="/evaluado/{{evaluado.id}}">Editar</a> <a class="btn btn-sm btn-danger" hx-delete="/evaluado/{{evaluado.id}}">Eliminar</a></td>
            </tr>
            {% else %}
            <tr><td colspan="6" class="text-center"> No se encontraron evaluados</td></tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}