{% extends "base.tpl.html" %}
{% block content %}
<h1>Becas LUCET</h1>
<h2 class="mb-4">Entrevistas</h2>
<form id="login" hx-post="/login{% if target %}?target={{target}}{% endif %}" hx-target="body" hx-swap="outerHTML">
    <div class="row mb-3">
        <div class="col-md-6">
            <label for="email" class="form-label">Email:</label>
            <input id="email" class="form-control" type="email" name="email" required>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-6">
            <label for="password" class="form-label">Password:</label>
            <input id="password" class="form-control" type="password" name="password" required>
        </div>
    </div>
</form>
<div class="container d-flex justify-content-center">
    <button id="crear" class="my-4 btn btn-primary" form="login">Iniciar sesión</button>
</div>
{% endblock %}
