{% extends "base.tpl.html" %}
{% block content %}
<div>
    <a class="btn btn-primary" target="_blank" onclick="const url= new window.URL(window.location.href);url.searchParams.append('download',true);window.location.href=url;">Descargar</a>
</div>
<div class="table-responsive">
    <table class="table" hx-boost="true">
        <thead>
            <tr>
                <th>Ficha</th>
                <th>Evaluado</th>
                <th>Carrera</th>
                <th>Entrevistador</th>
                <th>Criterio 1</th>
                <th>Criterio 2</th>
                <th>Criterio 3</th>
                <th>Criterio 4</th>
                <th>Observaciones</th>
                <th>Fecha calificación</th>
            </tr>
        </thead>
        <tbody>
            {% for ficha in fichas %}
            <tr>
                <td>{{ficha.id}}</td>
                <td>{{ficha.evaluado.id}}</td>
                <td>{{ficha.evaluado.carrera}}</td>
                <td>{{ficha.calificador.nombres}} {{ficha.calificador.apellido_paterno}}</td>
                <td>{{ficha.criterio1}}</td>
                <td>{{ficha.criterio2}}</td>
                <td>{{ficha.criterio3}}</td>
                <td>{{ficha.criterio4}}</td>
                <td>{{ficha.comentario}}</td>
                <td>{{ficha.fecha_calificacion}}</td>
            </tr>
            {% else %}
            <tr><td colspan="6" class="text-center"> No hay datos</td></tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}